
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(270deg, #c1ff2fb9, #dd2477b4);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: black;
}

header {
    background: rgba(81, 90, 173, 0.932); 
    color: #e00d0d;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 36px;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


section {
    padding: 50px 0;
    color: #fff;
}

#about, #projects, #contact {
    background: rgba(161, 81, 81, 0.637); 
    margin-bottom: 20px;
}

#about img {
    display:block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#projects .project, #contact {
    text-align: center;
}

footer {
    background: rgba(81, 90, 173, 0.932);
    color: #f80000;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 90%;
    }
}



.container {
    width: 80%; 
    margin: 0 auto;
    
}

.project {
    margin-bottom: 20px; 
}

.project-card {
    background: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s; 
}

.project-card:hover {
    transform: translateY(-5px); 
}

.project-card h3 {
    margin: 0 0 10px; 
}

.project-card p {
    margin: 0 0 15px; 
}

.project-card a {
    display: inline-block; 
    background: #007bff; 
    color: #ffffff; 
    padding: 10px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.project-card a:hover {
    background: #0056b3; 
}






